{{!-- Навигационная панель --}}

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
            RusAnki
        </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isDecks}}
            <li class= "active"><a href="/decks">Колоды</a></li>
        {{else}}
            <li><a href="/decks">Колоды</a></li>
        {{/if}}

        {{#if isLibrary}}
            <li class= "active"><a href="/library">Библиотека</a></li>
        {{else}}
            <li><a href="/library">Библиотека</a></li>
        {{/if}}

        {{#if isAccount}}
            <li class= "active"><a href="/account">Аккаунт</a></li>
        {{else}}
            <li><a href="/account">Аккаунт</a></li>
        {{/if}}
        
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        {{#if isAboutUs}}
            <li class= "active"><a href="/aboutUs">О нас</a></li>
        {{else}}
            <li><a href="/aboutUs">О нас</a></li>
        {{/if}}

        {{#if isSupport}}
            <li class="active"><a href="/support">Поддержка</a></li>  
        {{else}}
            <li><a href="/support">Поддержка</a></li>  
        {{/if}}

        {{#if isStatistics}}
            <li class= "active"><a href="/statistics">Статистика</a></li>
        {{else}}
            <li><a href="/statistics">Статистика</a></li>
        {{/if}}

      </ul>
    </div>
</nav>

