{{!-- Страница общего репозитория --}}
<i class="large material-icons icon-spacing">public</i>
<div class="container">
    {{#each decks}}
        <div class="deck-container">
            <h2>{{this.name}}</h2>
            <p>Тематика: {{this.theme}}</p>
            <p>Направление: {{this.direction}}</p>
            <div class="carousel">
                {{#each this.cards}}
                    <a class="carousel-item" href="#{{../this.name}}!">
                        <div class="flashcard-small">
                            <div class="flashcard-inner-small">
                                <div class="flashcard-front-small">
                                    <p>{{this.question}}</p>
                                </div>
                                <div class="flashcard-back-small">
                                    <p>{{this.answer}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/each}}
                {{#unless this.cards.length}}
                    <a class="carousel-item" href="#!">
                        <div class="flashcard-small">
                            <div class="flashcard-inner-small">
                                <div class="flashcard-front-small">
                                    <p>Нет карточек</p>
                                </div>
                                <div class="flashcard-back-small">
                                    <p>Добавьте карточки</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/unless}}
            </div>
        </div>
    {{/each}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.carousel');
        M.Carousel.init(elems, {
            fullWidth: false,
            indicators: true,
            padding: 20,
            numVisible: 5,
            shift: 0,
        });
    });
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
